/**
* ======Body========
* Reset
*/
 body, ul, header{
	margin: 0;
	padding:0;
}

/**
* ======Masthead========
* Will contain Header stuff
*/
.masthead{
    background-color:#222;
    height:60px;
    margin-bottom:50px;
}
.masthead_hd-ul{
    margin-left:70%;
    padding:10px;
}
.masthead_hd-li{
    list-style:none;
    display:inline;
}
/**
* ======Skip Links========
* This makes the invisible 
* Also hopefully appear in the upright hand corner when they are selected
*/

.skip{
    position:absolute;
    clip: rect(1px,1px,1px,1px) 
}

.skip:focus{
    
    position:absolute;
    top:0px;
    padding:15px;
    background-color:red;
    border:1px solid #333;
    
    
}

/**
* ======Blocks========
*   This is a Container
*/
.blocks_4up{
    width:75%;
    max-width:800px;
    min-width:350px;
    margin:auto;
    border:1px solid #555;
    background-color:#222;
    overflow:hidden;
}
.blocks_8up{
    width:75%;
    max-width:800px;
    min-width:550px;
    margin:auto;
    border:1px solid #555;
    background-color:#222;
    overflow:hidden;
}

/**
* ======block========
*  These are the individual blocks
*/
.block_4up{
    margin-left:2.2%;
    margin-right:0;
    margin-top:10px;
    margin-bottom:10px;
    height:100px;
    width:14.0%;
    padding-left:4.0%;
    padding-right:4.0%;
    float:left;
    border:1px solid blue;
    background-color:#999;
}
.block_8up{
    margin-left:1.0%;
    margin-right:0;
    margin-top:10px;
    margin-bottom:10px;
    height:80px;
    width:6.0%;
    padding-left:2.5%;
    padding-right:2.5%;
    float:left;
    border:1px solid blue;
    background-color:#999;
}
.block_red{
    background-color:red;
}
.block_blue{
    background-color:blue;
}
.block_orange{
    background-color:orange;
}
.block_purple{
    background-color:pruple;
}
.block_green{
    background-color:green;
}
.block_white{
    background-color:white;
}
.block_black{
    background-color:black;
}

/**
* ======Footer========
* Will contain Footer stuff
*/
.footer{
    background-color:#222;
    position: absolute;
    width:100%;
    bottom: 0;
    padding: 10px;
    text-align: center;
    
}
